<div class="container">
  <div class="places-container">
    <h3>Liste de mes lieux de vacances</h3>
    <table>
      <tr>
        <th style="padding-left: 10px;">Nom</th>
        <th>Lieu</th>
        <th>Mail</th>
        <th>...</th>
      </tr>
      <tr>
        <% @places.each do |place| %>
          <td style="padding-left: 10px;">
              <%= link_to place_path(place) do  %>
                <%= place.name %>
              <% end %>
          </td>
          <td><%= place.address %></td>
          <td>
            <i class="fa fa-check active-saledirect order-sent-checked mr-3"></i>
            <button class="button-send-mail-order onemore" type="button">
              <%= link_to send_mail_path(:order_id => place) do %>
                <i class="fas fa-paper-plane"></i><span class="text-symbol-send text-order-send"> +1 </span>
              <% end %>
            </button>
          </td>

          <td>
            <%= link_to edit_place_path(place) do %>
               <i class="fas fa-pencil-alt"></i>
            <% end %>
          </td>
        <% end %>
      </tr>
    </table>
  </div>
</div>
